.card_fone:hover {
    background-color: #946FD3;
    color: white;
    transform: rotateY(180deg);
    transition: all 1000ms;
}

.card_fone:hover .btn {
    background-color: #946FD3;
    color: white;
    border-color: white;
}

.card_fone:hover .back {
    visibility: visible;
}

.card_fone .btn {
    border-radius: 50px;
    border: 2px solid #946FD3;
    color: #946FD3;
    background-color: #fff;
}

.card_fone {
    transition: all 1s;
}
.back {
    background-color: #946FD3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
}

.one {
    height: 200px;
    position: relative;
}

.two {
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}